
<div id="notes">
    {{#each notes}}
      <div class="note">
          <span class="input"><textarea id={{id}}>{{content}}</textarea></span>

          <button class="remove btn btn-xs" id={{id}}><i class="fa fa-trash" aria-hidden="true"></i></button>
      </div>
  {{/each}}
</div>